<mat-card>
    <mat-card-header>
      <mat-card-title> Login </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form">
        <mat-form-field>
          <mat-label class="label">Username</mat-label>
          <input id="username" class="matInputdata" matInput [(ngModel)]="user.username" 
          name="username" (keydown.space)="$event.preventDefault();" required minlength="4" #username="ngModel">
          <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
              <div *ngIf="username.errors.required">
                  UserName is required.
                </div>
          <div *ngIf="username.errors.minlength">
            UserName must be at least 4 characters long.
          </div>
          
        </div>
           
        </mat-form-field>
  
        <mat-form-field>
          <mat-label class="label">Password</mat-label>
          <input type="password" id="password" class="matInputdata" matInput [(ngModel)]="user.password" 
          name="password" (keydown.space)="$event.preventDefault();"
          required minlength="8" #password="ngModel">
          
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
              <div *ngIf="password.errors.required">
                  Password is required.
                </div>
          <div *ngIf="username.errors.minlength">
            Password must be at least 8 characters long.
          </div>
          
        </div>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button class="login-click" mat-raised-button color="accent" (click)="login()">
        Login
      </button>
      <button class="register-button" mat-raised-button color="accent" [routerLink]="['/register']">
        Register
      </button>
    </mat-card-actions>
  </mat-card>
